.fp-container{
    min-height:100vh;
    background:#f7f7f7;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px 20px;
}

.fp-box{

    width:100%;
    max-width:470px;

    background:#fff;

    border-radius:20px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.fp-header{

    text-align:center;

    margin-bottom:32px;
}

.fp-title{

    font-size:32px;

    color:#222;

    margin-bottom:10px;
}

.fp-subtitle{

    color:#777;

    line-height:1.7;

    font-size:15px;
}

.fp-input-group{

    display:flex;

    flex-direction:column;

    gap:10px;

    margin-bottom:25px;
}

.fp-label{

    font-size:15px;

    font-weight:600;

    color:#444;
}

.fp-input{

    width:100%;

    padding:15px 16px;

    border:1px solid #ddd;

    border-radius:12px;

    outline:none;

    font-size:15px;

    transition:.3s;
}

.fp-input:focus{

    border-color:#111;

    box-shadow:0 0 0 4px rgba(0,0,0,.05);
}

.fp-btn{

    width:100%;

    border:none;

    cursor:pointer;

    padding:15px;

    border-radius:12px;

    background:#111;

    color:#fff;

    font-size:16px;

    font-weight:600;

    transition:.3s;
}

.fp-btn:hover{

    background:#000;

    transform:translateY(-1px);
}

.fp-message{

    margin-top:22px;

    text-align:center;

    color:#16A34A;

    font-weight:600;

    line-height:1.6;
}

.fp-error{

    margin-top:15px;

    text-align:center;

    color:#DC2626;

    font-weight:600;
}


.fp-btn:disabled{
    opacity:.7;
    cursor:not-allowed;
}


@media(max-width:600px){

    .fp-box{

        padding:30px 22px;
    }

    .fp-title{

        font-size:28px;
    }

    .fp-subtitle{

        font-size:14px;
    }

}